p{
    background-color:black;
    color: rgb(148, 186, 131);
    font-weight: bolder;
    font-style: inherit;
}
h1{
    background-color: white;
    color: rgb(206, 136, 159);
    font-weight: bolder;
    font-style:oblique
}
h2{
    background-color:rgb(237, 237, 100);
    color: rgb(114, 29, 43);
    font-weight: bold;
    font-style:normal;
}
h3{
    background-color:rgb(144, 241, 241);
    color: rgb(88, 88, 148);
    font-weight: bold;
    font-style: unset;
}
section{
    background-color: bisque;
    color: black;
    font-weight: bold;
    font-style: initial;
}
h4{
    background-color: rgb(0, 212, 220);
    color: honeydew;
    font-weight: bold;
    font-style: normal;
}
p1{
    background-color: thistle;
    color: darkgrey;
    font-weight: bolder;
    font-style: oblique;
}